/* styles.css */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-size: cover;
  background-position: center;
}


.skip-to-content {
  position: fixed;
  top: 10px;
  left: 10px;
  background-color: #150558;
  color: #fff;
  padding: 5px 10px;
  z-index: 1000; 
  opacity: 0; 
  transition: opacity 0.3s ease; 
  border: 2px solid #fff; 
  border-radius: 5px;
}

.skip-to-content:focus {
  opacity: 1; 
}
